* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 16px;
    line-height: 1;
}

header {
    color: whitesmoke;
    text-align: center;
    padding: 25px;
    font-size: 40px;
    font-weight: bolder;
    background-color:  #45423f;
}